# This token must be authorized with https://www.googleapis.com/auth/gmail.send
GMAIL_TOKEN_JSON='{"token":"...","refresh_token":"...","token_uri":"https://oauth2.googleapis.com/token","client_id":"...","client_secret":"...","scopes":["https://www.googleapis.com/auth/gmail.send"]}'
GMAIL_SCOPES=https://www.googleapis.com/auth/gmail.send
